spring:
  application:
    name: Spring-Security

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true

  # Email Configuration (JavaMailSender)
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  # OAuth2 Configuration
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
            scope: openid, email, profile
            authorization-grant-type: authorization_code

# Custom Security Configuration
app:
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY}
      access-token-expiration: 900000      # 15 minutes (in ms)
      refresh-token-expiration: 604800000  # 7 days (in ms)
      registration-token-expiration: 600000 # 10 minutes (in ms)

    cors:
      allowed-origins: ${FRONTEND_URL}

    oauth2:
      redirect-uri: ${FRONTEND_URL}/dashboard

    email:
      reset-password-url: ${FRONTEND_URL}/reset-password
      reset-password-expiration: 15  # 15 minutes

  seed:
    enabled: true
    admin:
      email: "admin@company.com"
      password: "ChangeMe123!"